@model PizzaOnLine.Models.Order
@inject PizzaOnLine.Services.CartService cartSe


<span>Thanks for Yours Shop</span>
@foreach (var item in Model.Cart.Cartitems)
{
    @item.DishsName
    @item.DishPrice
}
@cartSe.CalculateCartSum(Model.Cart.Cartitems.Select(f => f.CartItemId).FirstOrDefault())